<!doctype html>
<html lang="en" ng-app="baseApp">
<head>
    <title> Home Web App Server </title>
    <script src="/static/angular.min.js"></script>
    <script src="/static/angular-route.js"></script>
    <script src="/static/angular-resource.js"></script>
    <script src="/static/ngProgress.js"></script>
    <script src="/static/angular-slider.js"></script>
    <script src="/static/baseApp.js"></script>
    <script src="/musicshare/static/controller.js"></script>
    <script src="/pimusic/static/app.js"></script>
    <link rel=stylesheet type=text/css href="/static/dropdown.css"></link>
    <link rel=stylesheet type=text/css href="/static/css/bootstrap.css"></link>
    <link rel="stylesheet" href="/static/ngProgress.css"></link>
    <link rel="stylesheet" href="/static/angular-slider.css"></link>
    <style type="text/css">

    .sidebar-nav{
        padding: 9px 0;
    }
    .scrollbar{
        overflow: auto;
        height: auto;
        max-height: 450px;
    }
    .mymenusize li{
        width: 200px;
        vertical-align: middle;
        display: block;
    }
    .mymenusize p{
        padding: 15px;
    }
    </style>
</head>

<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav mymenusize" ng-controller="loginController" ng-switch on="logged.loggedin">
            <li ng-switch-when="true" class="text-muted"><p>logged as: {{logged.name}}</p></li>
            <li ng-switch-when="true"><a href="#" ng-click="logout()">logout</a></li>
            <li ng-switch-default class="text-muted"><p>Not logged in</p></li>
            <li ng-switch-default>
                <my-dropdown type="Login">
                    <ul>
                        <li ng-show="error" class="text-danger">{{error}}</li>
                        <li>
                        <form novalidate>
                            <input type="text" class="form-control" placeholder="Username" ng-model="user.name">
                            <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
                            <button class="btn btn-primary" ng-click="login(user)">Connect</button>
                        </form>
                        </li>
                    </ul>
                </my-dropdown>
            </li>
            <li>
                <my-dropdown type="Available Apps">
                    <ul>
                        <li>
                            <a href="/pimusic/">Pimusic</a>
                        </li>
                        <li>
                            <a href="/musicshare/">MusicShare</a>
                        </li>    
                    </ul>
                </my-dropdown>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right mymenusize">
            <li ng-controller="signinController">
                <my-dropdown type="Sign In">
                    <ul>
                        <li ng-show="error" class="text-danger">{{error}}</li>
                        <li>
                            <form novalidate>
                                <input type="text" class="form-control" placeholder="Username" autofocus ng-model="user.name" />
                                <input type="password" class="form-control" placeholder="Password" ng-model="user.password" />
                                <input type="password" class="form-control" placeholder="Password Confirmation" ng-model="user.passwordConf" />
                                <button class="btn btn-primary" ng-click="sign(user)">Sign In</button>
                            </form>
                        </li>
                    </ul>
                </my-dropdown>
            </li>
        </ul>
        </div>
    </div>
</div>

    <div ng-view class="jumbotron"></div>

</body>
</html>
