<div>
    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5">
            <div ng-switch on="paused">
                <div ng-switch-when="true">
                    <button type="button" class="btn btn-default btn-lg" ng-click="prevSong()">
                        <span class="glyphicon glyphicon-step-backward"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-lg" ng-click="pause_unpause()">
                        <span class="glyphicon glyphicon-play"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-lg" ng-click="nextSong()">
                        <span class="glyphicon glyphicon-step-forward"></span>
                    </button>
                </div>
                <div ng-switch-when="false">
                    <button type="button" class="btn btn-default btn-lg" ng-click="prevSong()">
                        <span class="glyphicon glyphicon-step-backward"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-lg" ng-click="pause_unpause()">
                        <span class="glyphicon glyphicon-pause"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-lg" ng-click="nextSong()">
                        <span class="glyphicon glyphicon-step-forward"></span>
                    </button>
                </div>
                <div>
                    <slider floor="0" ceiling="100" step="1" precision="2" ng-model="volume"></slider>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="metadata">
            <div ng-show="metadata.artist">
                <p>{{metadata.artist}}</p>
            </div>
            <div ng-show="metadata.album">
                <p>{{metadata.album}}</p>
            </div>
            <div ng-show="metadata.title">
                <p>{{metadata.title}}</p>
            </div>
    </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-3">
			<div class="well sidebar-nav scrollbar">
				<ul class="nav nav-list">
					<li ng-repeat="anArtist in artists" >
					<a href=""ng-click="getAlbums(anArtist)">{{anArtist[1]}}</a>

					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3" ng-show="albums">
			<div class="well sidebar-nav scrollbar">
				<ul class="nav nav-list">
					<li ng-repeat="anAlbum in albums">
					<a href="" ng-click="getSongs(anAlbum)">{{anAlbum[1]}}</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3" ng-show="songs">
			<div class="well sidebar-nav">
				<ul class="nav nav-list scrollbar">
					<li ng-repeat="aSong in songs">
					<a href="" ng-click="playSong(aSong)">{{aSong[1]}}</a>
					</li>
				</ul>
			</div>
		</div>
        <div class="col-xs-3 col-sm-3 col-md-3" ng-show="songList.list">
            <div class="well sidebar-nav">
                <ul class="nav nav-list scrollbar">
                    <li ng-repeat="aSong in songList.list">
                        <a href="" >{{aSong.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
	</div>
</div>
